/* ===== CELULARES ===== */
@media (max-width: 768px) {

    body {
        font-size: 14px;
    }

    /* SECCION HEADER */
    .contenedor {
        width: 100%;
        max-width: 800px;
    }

    .contenedor .header-contenedor {
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;
    }

    .hero h2 {
        color: #FFD700;
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .hero p {
        font-size: 1rem;
        margin-bottom: 20px;
    }

    /* MENU HAMBURGUESA */
    .navbar-toggler {
        border-color: rgba(255, 255, 255, 0.5);
    }

    .navbar-toggler-icon {
        filter: invert(100%);
    }

    .navbar-nav .nav-link {
        font-weight: 100;
        font-size: small;
    }

    /* SECCION FOOTER */
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
        padding: 20px;
        padding: 20px;
    }

    .footer-container h3,
    .footer-social a,
    .footer-links a,
    .footer-copy p {
        font-size: smaller;
    }

    .footer-copy p {
        font-size: 9px;
    }

    /* SECCION SOBRE MI */
    .sobre-mi {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: auto;
        justify-content: space-between;
        gap: 1rem;
    }

    .contacto {
        text-align: center;
    }

    .mi-foto {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        margin-top: 1rem;
        border: 0.2rem solid #1b2266;
    }

    .logo-coder,
    .logo-uni,
    .logo-udemy,
    .logo-platzi {
        display: inline;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        margin: 0.5rem;
        border: 0.2rem solid #1b2266;
    }

    /* BOTON SUBIR */
    .boton-fixed {
        bottom: 65px;
        right: 15px;
    }

    /* SECCION SERVICIOS */
    .cont-services {
        display: flex;
    }

    /* SECCION PORTAFOLIO */
    .mis-trabajos {
        flex-direction: column;
        /* cambia a vertical */
        align-items: center;
    }

    .mis-trabajos img {
        width: 90%;
        /* se ajusta al ancho del móvil */
        max-width: 300px;
        /* evita que crezca demasiado */
    }

    /* SECCION CARACTERISTICAS */
    .services-grid {
        grid-template-columns: 1fr;
        /* Una sola columna */
        grid-template-rows: auto;
        /* Altura automática según contenido */
        grid-template-areas:
            "title"
            "arti1"
            "arti2"
            "arti3"
            "arti4"
            "arti5"
            "arti6";
        margin: 10px;
        gap: 15px;
    }

    .title h2 {
        font-size: 20px;
    }

    /* SECCION CONTACTO */
    .formulario {
        max-width: 500px;
        width: 90%;
        margin: 20px auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .formulario h3 {
        text-align: center;
        margin-bottom: 20px;
    }

    .etiqueta-formulario {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
    }

    .etiqueta-formulario label {
        margin-bottom: 5px;
        font-weight: bold;
    }

    .etiqueta-formulario input[type="text"],
    .etiqueta-formulario input[type="tel"],
    .etiqueta-formulario input[type="email"],
    .etiqueta-formulario input[type="password"],
    .etiqueta-formulario textarea {

        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        font-size: 16px;
    }

    .botones-formulario {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;
    }

    .botones-formulario input[type="submit"],
    .botones-formulario input[type="reset"] {

        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }
}