@use "variables" as *;
@use "mixins" as *;

.formulario {

    @include card(10px, 1px solid $background-obscuro, 70px, $background-medio);
    width: 600px;
    margin: 0 auto;

    .etiqueta-formulario {
        padding: 20px;
        text-align: justify;

        .campo-texto {
            width: 100%;
            height: 2rem;
            border-radius: 5px;
        }

        textarea {
            border: 1px solid $fuente-color;
        }
    }

    .botones-formulario {
        padding: 30px;
        margin: 0 auto;

        .botones {
            height: 2.5rem;
            border-radius: 5px;

            @include mobile {
                height: 1.8rem;
                border-radius: 4px;
            }
        }

        @include mobile {
            padding: 20px;
        }
    }

    @include mobile {
        padding: 10px;
        width: auto;
    }

}