.scene {
    display: flex;
    /* Centra el contenido usando Flexbox */
    justify-content: center;
    /* Centra horizontalmente el .scene dentro del body */
    align-items: center;
    /* Centra verticalmente el .scene dentro del body */
    margin: 0;
    /* Quita márgenes por defecto del body */
    margin-top: 50px;
    height: 6rem;
    /* alto del área de escena */
}

.cube {
    width: 6rem;
    /* ancho del cubo (coincide con las caras) */
    height: 6rem;
    /* alto del cubo */
    position: relative;
    /* referencia para las caras posicionadas en absolute dentro */
    transform-style: preserve-3d;
    /* crucial: conserva el espacio 3D para los hijos */
    animation: rotateCube 5s infinite linear;
    /* aplica la animación que rota el cubo */
}

.face {
    position: absolute;
    /* las caras se posicionan libremente dentro del cubo */
    width: 6rem;
    /* ancho de cada cara */
    height: 6rem;
    /* alto de cada cara */
    background: rgba(0, 150, 255);
    /* Color de las caras */
    background-image: url('../img/tags-desarrollo-web.webp');
    /* Para poner una imagen en las caras del cubo */
    background-size: cover;
    /* color y opacidad de la cara */
    border: 2px solid #fff;
    /* borde para distinguir las caras */
    display: flex;
    /* para centrar el número dentro de la cara */
    align-items: center;
    /* centra verticalmente el contenido de la cara */
    justify-content: center;
    /* centra horizontalmente el contenido */
    font-size: 2rem;
    /* tamaño del número */
    color: #fff;
    /* color del texto */
    font-family: sans-serif;
    /* fuente */
}

/* Posición de las caras */
.front {
    transform: translateZ(3rem);
}

.back {
    transform: rotateY(180deg) translateZ(3rem);
}

.right {
    transform: rotateY(90deg) translateZ(3rem);
}

.left {
    transform: rotateY(-90deg) translateZ(3rem);
}

.top {
    transform: rotateX(90deg) translateZ(3rem);
}

.bottom {
    transform: rotateX(-90deg) translateZ(3rem);
}

@keyframes rotateCube {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }

    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}