@use "variables" as *;
@use "mixins" as *;

/* ===== FOOTER ===== */
.footer {
    background-color: $background-obscuro;
    color: $color-texto;

    /* CONTENEDOR PRINCIPAL */
    .footer-container {
        text-align: center;
        align-items: center;
        padding-top: 20px;

        /* TITULOS */
        h3 {
            color: $background-medio;
            font-size: 1.1rem;

            @include mobile {
                font-size: 0.9rem;
                margin-bottom: 5px;
            }
        }

        .footer-social,
        .footer-links,
        .aviso {
            display: flex;
            justify-content: center;
            gap: 20px;
            padding: 20px;

            i {
                font-size: 1.3rem;
            }

            @include mobile {
                gap: 8px;

                i {
                    padding: 10px;
                    font-size: 1.2rem;
                }
            }
        }

        .footer-links i {
            font-size: 1rem;
        }

        a {
            color: $color-texto;
            text-decoration: none;
            display: block;
        }

        .active {
            color: $color-hover !important;
        }

        a:hover {
            color: $background-medio;
        }

        @include mobile {
            font-size: 0.9rem;
            margin-bottom: 5px;
        }
    }

    .footer-copy {
        text-align: center;
        padding-bottom: 10px;
        font-size: 0.9rem;
        border-top: 1px solid $background-medio;

        p {
            @include mobile {
                font-size: 0.6rem;
            }
        }
    }
}