@use "variables" as *;
@use "mixins" as *;

/* ===== FOOTER ===== */
.footer {
    background-color: $background-obscuro;
    color: $color-texto;

    /* CONTENEDOR PRINCIPAL */
    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 30px;
        padding-top: 20px;
        padding-bottom: 20px;

        /* TITULOS */
        h3 {
            color: $background-medio;
            font-size: 1.2rem;
            font-weight: 500;

            @include mobile {
                font-size: 0.9rem;
                margin-bottom: 5px;
            }
        }

        /* LINKS GENERALES */
        .footer-social a,
        .footer-links a,
        .aviso a {
            color: $color-texto;
            text-decoration: none;
            display: block;

            @include mobile {
                font-size: 0.7rem;
                margin-bottom: 5px;
            }
        }

        .footer-links {
            margin-left: 10%;

            @include mobile {
                margin: auto;
            }
        }

        .aviso {
            text-align: center;
            margin-top: 50px;

            @include mobile {
                margin-top: 0;
            }
        }

        .active {
            color: $color-hover !important;
        }

        a:hover {
            color: $background-medio;
        }

        /* ======== MOBILE ======== */
        @include mobile {
            flex-direction: column;
            text-align: center;
            align-items: center;
            gap: 10px;
        }
    }

    /* DERECHOS RESERVADOS */
    .footer-copy {
        text-align: center;
        padding-bottom: 10px;
        font-size: 0.9rem;
        border-top: 1px solid $background-medio;

        p {
            @include mobile {
                font-size: 0.6rem;
            }
        }
    }
}