@use "variables" as v;

.footer {
    background-color: v.$background-obscuro;
    color: v.$color-texto;
}

a {
    color: #fff;
    text-decoration: none;
}

h3 {
    margin-bottom: 10px;
    color: #00a1f4;
    font-size: 1.2rem;
    font-weight: 500;
}

a:hover {
    color: #007bff;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    padding-top: 20px;
    padding-bottom: 20px;

    .footer-social {
        a {
            display: block;
        }
    }

    .footer-links {
        a {
            display: block;
        }

        .active {
            color: #FFD700 !important;
        }
    }

    .escribeme {
        text-align: center;
    }
}

.footer-copy {
    text-align: center;
    padding-bottom: 10px;
    font-size: 0.9rem;
    border-top: 1px solid #007bff;
}