@use "variables" as *;
@use "mixins" as *;

/* Sección Hero */
.hero {
    position: relative;
    background-image: url('../img/desarrollo-web.webp');
    background-size: cover;
    background-position: center;
    height: auto;
    /* Alto de la sección */
    color: #fff;
    display: flex;
    /* Centra el contenido */
    align-items: center;
    /* Centra verticalmente */
    justify-content: center;
    /* Centra horizontalmente */
    text-align: center;
}

.hero-contenedor {
    position: relative;
    /*   padding: 100px; */
    top: 15px;
    height: 70vh;
    z-index: 1;

    /* Desarrollo web profesional*/
    h1 {
        color: $color-hover;
        font-size: 2rem;
        margin: 30px;

        @include mobile {
            font-size: 1.5rem;
        }
    }


    .parrafo-hero {
        font-size: 1.8rem;
        margin: 30px;


        @include mobile {
            font-size: 1.2rem;
        }
    }

    .boton-contactame {
        @extend .btn;
    }

    @include mobile {
        height: auto;
        margin-bottom: 35px;
    }
}

/*sección caracteristicas */
.general-pagina {
    background-color: $background-claro;
    padding: 40px;
    text-align: center;

    .title {
        padding: 30px;
    }
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
    color: #000000;

    p {
        text-align: justify;
    }

    @include mobile {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        margin: 0% auto;
    }
}

.caracteristicas {

    @include card(10px, 1px solid #003c78, 25px, #fff);

    i {
        font-size: 2.3rem;
        color: #003c78;
        margin-bottom: 15px;
    }

    &:hover {
        transform: translateY(-8px);
        box-shadow: 0 8px 18px rgba(0, 60, 120, 0.2);
        transition: transform 0.3s, box-shadow 0.3s;
    }
}

/* Botón para subir al inicio de la pagina */
.boton-fixed {
    position: fixed;
    bottom: 60px;
    right: 25px;
    background-color: $background-medio;
    color: $color-texto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    /* Nos permite centrar el icono fácilmente */
    align-items: center;
    /* Centra el icono verticalmente */
    justify-content: center;
    /* Centra el icono horizontalmente */
    font-size: 24px;
    /* Tamaño del icono */
    text-decoration: none;
    /* Quita el subrayado del enlace */
    z-index: 1000;
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.3);

    /* Asegura que esté por encima de otros elementos */
    @include mobile {
        width: 40px;
        height: 40px;
        right: 10px;

    }

    &:hover {
        box-shadow: 0 6px 25px rgba(255, 255, 255, 0.4);
        transform: scale(1.1);
    }
}

/* WHATSAPP */

.whatsapp-btn {
    position: fixed;
    background: linear-gradient(135deg, #25D366 0%, #128C7E 100%);
    font-size: 24px;
    color: #fff;
    bottom: 120px;
    right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 20px rgba(37, 211, 102, 0.3);
    text-decoration: none;
    transition: all 0.3s ease;
    z-index: 1000;
    animation: vibrate 2s infinite ease-in-out;

    @include mobile {
        width: 40px;
        height: 40px;
        right: 10px;
    }

    &:hover {
        box-shadow: 0 6px 25px rgba(255, 255, 255, 0.4);
    }
}