@mixin card($border-radius, $border, $padding, $background-color) {

    border-radius: $border-radius;
    border: $border;
    padding: $padding;
    background-color: $background-color;
}

@mixin mobile {
    @media (min-width: 320px) and (max-width: 768px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 769px) and (max-width: 1024px) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: 1025px) and (max-width: 1440px) {
        @content;
    }
}

@mixin mobile-landscape {

    @media (max-width: 480px) and (orientation: landscape),
    (max-height: 500px) and (orientation: landscape) {
        @content;
    }
}

@mixin ipad-landscape {
    @media (min-width: 900px) and (max-width: 1100px) and (orientation: landscape) {
        @content;
    }
}