@mixin card($border-radius, $border, $padding, $background-color) {

    border-radius: $border-radius;
    border: $border;
    padding: $padding;
    background-color: $background-color;
}

@mixin mobile {
    @media (min-width: 320px) and (max-width: 768px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 769px) and (max-width: 991px) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: 992px) and (max-width: 1440px) {
        @content;
    }
}