@use "variables" as *;
@use "mixins" as *;

.mis-trabajos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    .imagen {
        a {
            display: block;
            width: 100%;
            height: 260px; // altura fija igual para TODAS
            overflow: hidden; // evita que la imagen se salga

            @include mobile {
                height: 180px;
            }
        }

        img {
            width: 100%;
            height: 100%; // mantiene proporciones
            object-fit: cover; // recorte bonito sin deformar
            border-radius: 10px;

            @include mobile {
                border-radius: 6px;
            }
        }
    }

    @include mobile {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}

.btn-contacto {
    margin-top: 30px;

    .boton-contacto {
        @extend .btn;

    }
}