@use "variables" as *;
@use "mixins" as *;

/* tarjetas */
.servicios-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    .servicio {
        @include card(10px, 1px solid #003c78, 25px, #fff);

        i {
            font-size: 2.3rem;
            color: #003c78;
            margin-bottom: 15px;
        }

        .nombre-servicio {
            font-size: 1.5rem;
            color: #003c78;
            margin-bottom: 8px;
        }

        h3 {
            font-size: 1.8rem;
            color: #FFD700;
            margin-bottom: 8px;
        }

        p {
            color: #000000;
        }

        &:hover {
            transform: translateY(-8px);
            box-shadow: 0 8px 18px rgba(0, 60, 120, 0.2);
            transition: transform 0.3s, box-shadow 0.3s;
        }
    }

    @include mobile {
        grid-template-columns: 1fr;
    }
}

.btn-contacto {
    margin-top: 30px;

    .boton-contacto {
        @extend .btn;

    }
}