@use "variables" as *;
@use "mixins" as *;

/* Sección sobre mí */

.sobre-mi {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: space-between;
    gap: 3rem;

    .foto {
        margin-top: 120px;

        .mi-foto {
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
            border: 0.2rem solid #1b2266;

            @include mobile {
                width: 4rem;
                height: 4rem;
                margin-top: 0;
            }
        }

        @include mobile {
            margin-top: 10px;
        }
    }

    .informacion {
        text-align: justify;

        .title {
            padding: 10px;
            margin-bottom: 10px;
        }

        h2,
        h4,
        .contactame {
            text-align: center;
        }

        .boton-contactame {
            @extend .btn;
        }
    }

    .logotipos {
        margin-top: 3rem;

        .logo-uni,
        .logo-coder,
        .logo-udemy,
        .logo-platzi {
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
            margin: 1rem;
            border: 0.2rem solid #1b2266;

            @include mobile {
                width: 3rem;
                height: 3rem;
            }
        }
    }

    @include mobile {
        grid-template-columns: 1fr;
        margin-top: 0;
    }
}